// bower:scss
// endbower
@charset "utf-8";
html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}

.wraper {
  min-width: 320px;
}

.video_layer {
  position: relative;
  width: 83.333%; //600px/720px
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

.video_box {
  position: relative;
  overflow: hidden
}

.video_btn {
  position: absolute;
  width: 16.667%; //120px/720px
  height: auto;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  overflow: hidden;
  cursor: pointer;
}

.video_box,
.video_bg,
.video_btnbg {
  width: 100%;
}
